---
export interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<details class="group mb-4">
  <summary
    aria-expanded="false"
    aria-controls={id}
    class="cursor-pointer flex justify-between p-2 rounded-md border-t border-b focus:ring-2"
  >
    <span class="font-semibold">{title}</span>
    <span aria-hidden="true" class="group-open:hidden">+</span>
    <span aria-hidden="true" class="group-open:block hidden">−</span>
  </summary>

  <div id={id} class="pl-4">
    <slot />
  </div>
</details>
